* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  font-family: "Montserrat", sans-serif;
}
.container {
  width: 1240px;
  margin: 0 auto;
}
#header {
  margin: 25px 0;
  position: fixed;
  width: 100%;
}
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-links {
  margin-left: 16px;
}
.nav-link {
  margin-left: 55px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  transition: 0.5s;
}
.nav-link:hover {
  color: #f90;
}
#hero {
  background: url("./img/hero bg.png") no-repeat center/cover;
  height: 100vh;
}
.hero {
  padding-top: 300px;
}
.hero-title {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  width: 45%;
}
.hero-descr {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin: 40px 0 80px 0;
  width: 376px;
}
.orange-txt {
  color: #f90;
}
button {
  cursor: pointer;
  border: none;
}
.btns {
  display: flex;
  align-items: center;
}
.order {
  padding: 9px 73px 10px 37px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 60px 0px 0px 60px;
  background: #f90;
}
.btn-menu {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  width: 139px;
  height: 41px;
  border: 1px solid #f90;
  border-radius: 0 60px 60px 0;
  background: none;
}
/* promotions start */
#promotions {
  background: url("./img/actionbg.png") no-repeat center/cover;
  height: 1300px;
}
.promotions-head {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 75px 0 40px 0;
}
.title {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
}
.prom-lines {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-left: 95px;
}
.row1 {
  font-size: 28px;
  color: #f90;
  position: absolute;
  margin-top: -1px;
}
.linstr1 {
  width: 190px;
  height: 1px;
  color: #f90;
  border: 1px solid #f90;
  background: #f90;
  margin-left: 12px;
}
.row2 {
  position: absolute;
  color: #f90;
  font-size: 40px;
  margin-top: -6px;
  margin-left: -23px;
}
.line2 {
  margin-left: 106px;
}
.linstr2 {
  width: 190px;
  height: 1px;
  color: #f90;
  border: 1px solid #f90;
  background: #f90;
}
.promotions-blocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 140px 0 5px 0;
  overflow-x: scroll;
}
.promotions-block {
  width: 241px;
  height: 307px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 20px;
  background: radial-gradient(
    128.99% 141.42% at 0% 0%,
    rgba(99, 99, 99, 0.58) 0%,
    rgba(99, 99, 99, 0.58) 100%
  );
  backdrop-filter: blur(5px);
  text-align: center;
  position: relative;
  margin-right: 40px;
}
.promotions-block img {
  position: absolute;
  bottom: 247px;
  right: 25px;
}
.promotions-block-txt {
  margin: 0 25px 0 25px;
}
.promotions-block-title {
  width: 210px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
  margin-top: 50px;
}
.promotions-block-descr {
  width: 185px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 30px;
}
.radios {
  display: flex;
  justify-content: space-around;
}

input:checked {
  accent-color: #fff;
}
.counter {
  margin-top: 15px;
}
.plus,
.minus {
  cursor: pointer;
}
.radios label {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

.counter span {
  margin-left: 13px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.price1 {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  text-decoration: line-through;
}
.price2 {
  padding: 5px 11px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  border-radius: 60px;
  background: #f90;
}
.new {
  margin-top: 50px;
}
#shef {
  background: url("./img/bg3.png") no-repeat center/cover;
  height: 2800px;
  padding: 160px 0;
}
.shef {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.shef-txt {
  margin-left: 175px;
}

.shef-title {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 50px;
}
.shef-title span {
  margin-top: 5px;
}
.shef-descr {
  width: 306px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}
/* reservation */
.reservation {
  background: url("./img/restoran.png") no-repeat;
  width: 1160px;
  height: 600px;
  margin-left: 270px;
  margin-top: 150px;
}
.reservation img {
  position: absolute;
  z-index: -1;
}
.res-input {
  width: 600px;
}
.reserv-title {
  color: #f90;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}
.res-input label {
  color: #f90;
  font-size: 12px;
  font-weight: 400;
}
.res-input input {
  width: 343px;
  height: 38px;
  border: 1px solid #f90;
  margin-bottom: 24px;
  padding: 0 0 0 20px;
  background: transparent;
  color: #fff;
}
.res-input .data-in {
  width: 147px;
}
#data {
  margin-right: 21px;
}
.res-input input::placeholder {
  color: #878787;
  font-size: 12px;
  font-weight: 400;
}
#kom {
  height: 88px;
}
#kom::placeholder {
  transform: translateY(-30px) translateY(50%);
}
.btn-sub {
  padding: 11px 59px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  border-radius: 20px;
  background: #f90;
  margin-left: 50px;
}
/* review */
.review {
  margin-top: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rev-descr {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  width: 375px;
  margin: 40px 0;
}
.rev-btn {
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  width: 270px;
  height: 63px;
  border-radius: 60px;
  border: 1px solid #f90;
  background: none;
}
.rev-blocks {
  width: 500px;
  height: 600px;
  background: radial-gradient(
    126.01% 141.42% at 0% 33.19%,
    rgba(126, 126, 126, 0.46) 0%,
    rgba(114, 112, 112, 0.46) 100%
  );
  backdrop-filter: blur(5px);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.rev-block {
  margin-top: 75px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.rev-block-txt {
  margin-left: 55px;
}
.rev-block-title {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.stars {
  font-size: 24px;
  color: #fbc400;
  margin: 15px 0;
}
.rev-block-descr {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 15px;
  width: 282px;
}
.rev-link {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}
.rev-date {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  margin-left: 70px;
}
.rev-img {
  display: flex;
  justify-content: flex-start;
}
.linerev {
  margin: 0 25px 0 36px;
}
.linerev1 {
  margin: 0 12px 0 24px;
}
.rev-date2 {
  margin-left: 160px;
}
/* jfjd */
.slider {
  margin-top: 100px;
}

/* klk */
.slider img {
  width: 260px;
  height: 267px;
  margin-right: 45px;
  position: relative;
}
.foto {
  display: flex;
  align-items: center;
}
.slider input {
  position: absolute;
  z-index: 1;
  margin-top: 500px;
  width: 37px;
  height: 37px;
  accent-color: #f90;
}
.slider #img1 {
  margin-left: 470px;
  color: #f90;
}
.slider #img2 {
  margin-left: 510px;
  color: #f90;
}
.slider #img3 {
  margin-left: 550px;
  color: #f90;
}
.slider #img4 {
  margin-left: 590px;
}
#img1,
#img,
#img3,
#img4 {
  background-color: #f90;
  border: 10px solid #f90;
}
#img1:checked ~ .foto #photo1,
#img2:checked ~ .foto #photo2,
#img3:checked ~ .foto #photo3,
#img4:checked ~ .foto #photo4 {
  width: 417px;
  height: 478px;
}

#footer {
  background-color: black;
}

.footer {
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-link {
  margin-right: 45px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
.footer-descr {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.address {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.address img {
  margin-right: 8%;
}
.footer-call {
  display: flex;
  justify-content: start;
  align-items: flex-start;
}
.footer-call img {
  margin-right: 8px;
}
.footer-call p {
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
}
.shef-btn {
  padding: 9px 30px;
  border-radius: 60px;
  border: 1px solid #f90;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  background: none;
  display: none;
}
.slider-title {
  display: none;
}
.elements {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.burger-menu {
  display: none;
}
.bur-m {
  display: none;
}
.show {
  display: block;
}
.hide {
  display: none;
}
@media (max-width: 768px) {
  #hero {
    background: url(./img/фон.png) no-repeat center/cover;
    height: 100vh;
  }
  #header {
    display: none;
  }
  .burger-menu {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
  }
  .promotions {
    width: 380px;
  }
  .container {
    margin: 0 15px;
  }
  .hero-title {
    font-size: 24px;
    width: 368px;
  }
  .order {
    font-size: 12px;
    font-weight: 400;
  }
  .btn-menu {
    height: 33px;
    font-size: 12px;
  }
  .title {
    font-size: 22px;
    width: 120px;
  }
  .row1 {
    width: 15px;
  }
  .linstr1 {
    width: 60px;
    margin-left: 6px;
    margin-top: -1px;
  }
  .linstr2 {
    width: 60px;
  }
  .row2 {
    width: 25px;
    margin-left: -12px;
  }
  .promotions-blocks {
    width: 400px;
  }
  .line2 {
    margin-left: 40px;
  }
  .shef {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
  }
  .shef-txt {
    margin-left: 0;
    margin-top: 15px;
  }
  #shef .container {
    width: 80%;
  }
  .btns {
    width: 336px;
  }
  .shef-descr {
    width: 300px;
  }
  .shef-title {
    margin-bottom: 10px;
  }
  .shef img {
    width: 280px;
  }
  .promotions-head {
    width: 370px;
    padding-top: -3px;
  }
  .prom-lines {
    margin-left: 0;
  }
  .title {
    margin-right: 30px;
  }
  .shef-btn {
    display: block;
    margin-top: 15px;
  }
  .reservation {
    margin-left: 0;
    margin-top: 40px;
    height: 550px;
  }
  .rev-blocks {
    display: flex;
    flex-direction: column;
  }
  .review {
    margin-top: 0;
    margin-left: 23px;
    flex-direction: column;
  }
  .rev-btn {
    margin-left: 60px;
  }
  .rev-blocks {
    width: 378px;
    height: 450px;
    margin-top: 60px;
  }
  .rev-block {
    margin-top: 20px;
  }
  .rev-block img {
    width: 40px;
    margin-left: 10px;
  }
  .linerev {
    display: none;
  }
  .linerev1 {
    display: none;
  }
  .rev-block-txt {
    margin-left: 45px;
  }
  .slider {
    margin-top: 40px;
  }
  .slider-title {
    display: block;
    margin-bottom: 20px;
  }
  .foto {
    display: flex;
    align-items: flex-end;
  }
  .slider img {
    width: 175px;
    height: 141px;
    margin-right: 15px;
    position: relative;
  }
  #img1:checked ~ .foto #photo1,
  #img2:checked ~ .foto #photo2,
  #img3:checked ~ .foto #photo3,
  #img4:checked ~ .foto #photo4 {
    width: 200px;
    height: 231px;
  }
  .slider input {
    position: absolute;
    z-index: 1;
    margin-top: 260px;
    width: 37px;
    height: 37px;
    accent-color: #f90;
  }
  .slider #img1 {
    margin-left: 140px;
  }
  .slider #img2 {
    margin-left: 190px;
    color: #f90;
  }
  #shef .container {
    width: 350px;
  }
  .slider #img3 {
    display: none;
  }
  .slider #img4 {
    display: none;
  }
  #shef {
    height: 2300px;
  }
  .footer {
    flex-direction: column;
  }
  .footer-link {
    margin: 0 20px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
  }
  .footer-logo {
    display: none;
  }
  .container {
    width: 400px;
    overflow: hidden;
  }
}

@media (max-width: 415p) {
  .hero-title {
    font-size: 24px;
  }
  .hero-descr {
    width: 376px;
  }
}
